openapi: 3.0.3
info:
  title: Bicep Extension API
  description: |-
    This is the OpenAPI 3.0 based specification for Bicep Extension API.
    
    Note: Authentication and authorization are not covered in this specification, since extensions may use different authentication and authorization mechanisms.
  version: 2.0.0
externalDocs:
  description: Find out more about OpenAPI.
  url: https://www.openapis.org/
servers:
  - url: https://{extensionApiEndpoint}
    variables:
      extensionApiEndpoint:
        default: 'api.example-extension.com'
        description: The extension API endpoint.
tags:
  - name: Resource
    description: Resource API
  - name: ResourceOperation
    description: Resource Operation API
paths:
  /{extensionVersion}/resource/whatIf:
    post:
      tags:
       - Resource
      summary: Preview a resource create or update operation
      description: |
        Preview a resource creation or update operation by simulating the process.

        Upon successful simulation, the outcome must mirror a resource that has been either created or updated, based on the operation that was previewed. This resulting state should align with what would be ontained from a GET response, as if the genuine create or update operation had been carried out. This includes the inclusion of read-only properties and properties endowed with default values, as well as the exclusion of write-only properties like those containing sensitive information such as passwords and connection strings.

        Should the simulation encounter failure due to inadequate information, the response must detail the errors encountered.
        
        [TODO]: A mechanism is required for extensions to identify properties that cannot be determined during the preview phase, such as a timestamp. One idea is to utilize a placeholder ARM template expression, like `[unknown()]`, for these property values. This should be brought up with Jorge and Jonny, who are currently tackling the related What-If issue #157 by introducing a placeholder ARM template expression.
      operationId: previewResourceCreateOrUpdate
      parameters:
        - $ref: '#/components/parameters/HeaderAcceptLanguage'
        - $ref: '#/components/parameters/HeaderReferer'
        - $ref: '#/components/parameters/HeaderRequestId'
        - $ref: '#/components/parameters/HeaderCorrelationId'
        - $ref: '#/components/parameters/HeaderTraceParent'
        - $ref: '#/components/parameters/HeaderTraceState'
        - $ref: '#/components/parameters/ExtensionVersion'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Resource'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/ResourceResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '4XX':
          description: Other client errors, such as 401 Unauthorized.
        '5XX':
          description: Server errors.
  /{extensionVersion}/resource/createOrUpdate:
    post:
      tags:
       - Resource
      summary: Create or update a resource
      description: |
        Create or update a resource.
        
        Upon successful operation, the service must add an identifiers property to its response. This property is an object consisting of several sub-properties that, when combined with the resource's type and configuration, create a *globally unique* key for identifying the resource. The structure of the identifiers property is determined by the extension service and is opaque to the template deployment engine.

        If the operation is synchronus or a resource based long-running operation (RELO), the response status code must be 201 Created for nonexistent resource or 200 OK for existing resource.

        If the opeartion is being implemented as a stepwise long-running operation (LRO), the response status code should be 202 Accepted.
      operationId: createOrUpdateResource
      parameters:
        - $ref: '#/components/parameters/HeaderAcceptLanguage'
        - $ref: '#/components/parameters/HeaderReferer'
        - $ref: '#/components/parameters/HeaderRequestId'
        - $ref: '#/components/parameters/HeaderCorrelationId'
        - $ref: '#/components/parameters/HeaderTraceParent'
        - $ref: '#/components/parameters/HeaderTraceState'
        - $ref: '#/components/parameters/ExtensionVersion'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Resource'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/ResourceResponse'
        '201':
          $ref: '#/components/responses/ResourceResponse'
        '202':
          $ref: '#/components/responses/Accepted'
        '400':
          $ref: '#/components/responses/BadRequest'
        '4XX':
          description: Other client errors, such as 401 Unauthorized.
        '5XX':
          description: Server errors.
  /{extensionVersion}/resource/get:
    post:
      tags:
       - Resource
      summary: Get a resource
      description: |
        Get a resource given its type, identifiers, and configuration.
      operationId: getResource
      parameters:
        - $ref: '#/components/parameters/HeaderAcceptLanguage'
        - $ref: '#/components/parameters/HeaderReferer'
        - $ref: '#/components/parameters/HeaderRequestId'
        - $ref: '#/components/parameters/HeaderCorrelationId'
        - $ref: '#/components/parameters/HeaderTraceParent'
        - $ref: '#/components/parameters/HeaderTraceState'
        - $ref: '#/components/parameters/ExtensionVersion'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourceReference'
      responses:
        '200':
          $ref: '#/components/responses/ResourceResponse'
        '404':
          description: Resource not found.
        '4XX':
          description: Other client errors, such as 401 Unauthorized.
        '5XX':
          description: Server errors.
  /{extensionVersion}/resource/delete:
    post:
      tags:
       - Resource
      summary: Delete a resource
      description: |
        Delete a resource given its type, identifiers, and configuration.
      operationId: deleteResource
      parameters:
        - $ref: '#/components/parameters/HeaderAcceptLanguage'
        - $ref: '#/components/parameters/HeaderReferer'
        - $ref: '#/components/parameters/HeaderRequestId'
        - $ref: '#/components/parameters/HeaderCorrelationId'
        - $ref: '#/components/parameters/HeaderTraceParent'
        - $ref: '#/components/parameters/HeaderTraceState'
        - $ref: '#/components/parameters/ExtensionVersion'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourceReference'
      responses:
        '204':
          description: Successful operation
        '202':
          $ref: '#/components/responses/Accepted'
        '4XX':
          description: Client errors, such as 401 Unauthorized.
        '5XX':
          description: Server errors.
  /{resourceOperationPath}:
    get:
      tags:
       - ResourceOperation
      summary: Get a resource operation
      description: Get a long-running resource operation.
      operationId: getResourceOperation
      parameters:
        - $ref: '#/components/parameters/HeaderAcceptLanguage'
        - $ref: '#/components/parameters/HeaderReferer'
        - $ref: '#/components/parameters/HeaderRequestId'
        - $ref: '#/components/parameters/HeaderCorrelationId'
        - $ref: '#/components/parameters/HeaderTraceParent'
        - $ref: '#/components/parameters/HeaderTraceState'
        - $ref: '#/components/parameters/ResourceOperationPath'
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LongRunningOperation'
        '4XX':
          description: Client errors not related to the operation itself, such as 401 Unauthorized.
        '5XX':
          description: Server errors.
components:
  parameters:
    HeaderAcceptLanguage:
      name: Accept-Language
      in: header
      required: false
      description: Specifies the preferred language for the response Extensions should use this header when generating client facing text, such as error messages.
      schema:
        type: string
        example: en-US
    HeaderReferer:
      name: Referer
      in: header
      required: true
      description: The full URL of the extensibility host service instance from which the request is sent. Extensions should use this header to track the source of the request.
      schema:
        type: string
        format: uri
        example: https://www.example.com
    HeaderRequestId:
      name: x-ms-client-request-id
      in: header
      required: true
      description: Client generated GUID identifying a single request. Should be include in logs and traces.
      schema:
        type: string
        format: uuid
        example: 00000000-0000-0000-0000-000000000000
    HeaderCorrelationId:
      name: x-ms-correlation-request-id
      in: header
      required: true
      description: Client or ARM generated GUID identifying a set of related operations. Should be included in logs and traces.
      schema:
        type: string
        format: uuid
        example: 00000000-0000-0000-0000-000000000000
    HeaderTraceParent:
      name: traceparent
      required: true
      description: Standard W3C trace context header generated by OpenTelemetry. Extensions should use the header if they support OpenTelemetry.
      in: header
      schema:
        type: string
    HeaderTraceState:
      name: tracestate
      required: true
      description: Standard W3C trace context header generated by OpenTelemetry. Extensions should use the header if they support OpenTelemetry.
      in: header
      schema:
        type: string
    ExtensionVersion:
      name: extensionVersion
      in: path
      required: true
      description: Version of the extension. This is specified by the user with the extension import syntax in the Bicep or ARM template file. It is recommended for the extension service to validate the request payload against the extension version, but it's not mandatory.
      schema:
        type: string
    ReferenceId:
      name: referenceId
      in: path
      required: true
      description: Reference ID of the resource.
      schema:
        type: string
    ResourceOperationPath:
      name: resourceOperationPath
      in: path
      required: true
      description: relative path to the resource operation.
      schema:
        type: string
  headers:
    Date:
      description: The date that the request was processed, in [RFC 7231](https://datatracker.ietf.org/doc/html/rfc7231#section-7.1.1.2) format.
      schema:
        type: string
        format: date
    RequestId:
      description: A unique identifier for the current operation, service generated. Extensions *must* return this value in the response headers to facilitate debugging.
      schema:
        type: string
        format: uuid
  responses:
    Accepted:
      description: Accepted
      headers:
        Date:
          $ref: '#/components/headers/Date'
        x-ms-request-id:
          $ref: '#/components/headers/RequestId'
        Location:
          description: An absolute URL pointing to an operation resource which can be used to monitor the status of the delete operation.
          schema:
            type: string
        Retry-After:
          description: Indicates how long the client should wait before making a follow-up request. The value must only be specified in seconds, with a minimum of 10 seconds and a maximum of 10 minutes.
          schema:
            type: integer
    BadRequest:
      description: Failed operation.
      headers:
        Date:
          $ref: '#/components/headers/Date'
        x-ms-request-id:
          $ref: '#/components/headers/RequestId'
      content: 
        application/json: 
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    ResourceResponse:
      description: Successful operation.
      headers:
        Date:
          $ref: '#/components/headers/Date'
        x-ms-request-id:
          $ref: '#/components/headers/RequestId'
      content: 
        application/json: 
          schema:
            $ref: '#/components/schemas/Resource'
          example:
            identifiers:
              name: 'myApp'
            status: Succeeded
            type: application@v1
            properties:
              name: 'myApp'
              propOne: true
              propTwo: 42
              readOnlyProp: false
              propWithDefaultValue: foobar
  schemas:
    ErrorResponse:
      description: Schema for error responses that is compliant with Microsoft REST API Guideline and OData 4.0.
      type: object
      required:
        - status
      properties:
        error:
          $ref: '#/components/schemas/Error'
    LongRunningOperation:
      type: object
      required:
        - status
      properties:
        status:
          $ref: '#/components/schemas/Status'
        error:
          $ref: '#/components/schemas/Error'
    Error:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: string
          description: A short unlocalized string which can be used to identify a particular class of error. The code should be Pascal-cased.
          example: InvalidResource
        message:
          type: string
          description: Describes the error in detail and provides debugging information. If the Accept-Language header is set in the request, it must be localized accordingly.
          example: The specified resource is invalid.
        target:
          type: string
          description: An absolute JSON Pointer (see [RFC 6901](https://datatracker.ietf.org/doc/html/rfc6901)) to the property causing the error.
          example: null
        details:
          description: An array of details about specific errors that led to this reported error.
          type: array
          items:
            $ref: '#/components/schemas/ErrorDetail'
        innererror:
          description: An object containing more specific information than the current object about the error.
          type: object
    ErrorDetail:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: string
          description: A short unlocalized string which can be used to identify a particular class of error. The code should be Pascal-cased.
          example: InvalidResourceType
        message:
          type: string
          description: Describes the error in detail and provides debugging information. If the Accept-Language header is set in the request, it must be localized accordingly.
          example: The specified resource type is invalid.
        target:
          type: string
          description: An absolute JSON Pointer (see [RFC 6901](https://datatracker.ietf.org/doc/html/rfc6901)) to the property causing the error.
          example: /properties/foo
    ResourceReference:
      type: object
      required:
        - referenceId
      properties:
        identifiers:
          type: object
        config:
          $ref: '#/components/schemas/Config'
      example:
        type: application@v1
        identifiers: {
          name: myApp
        }
        config:
          configItemOne: true
          configItemTwo: 'value'
    Config:
      type: object
      writeOnly: true
      description: Contains configuration items that are served as necessary context information for completing the resource operation. This is the user-supplied extension configuration in the Bicep or ARM template file.
    Resource:
      type: object
      required:
        - type
        - properties
      properties:
        config:
          $ref: '#/components/schemas/Config'
        identifiers:
          type: object
          readOnly: true
        status:
          $ref: '#/components/schemas/Status'
        type:
          type: string
          description: The type of the resource.
          example: application@v1
        properties:
          description: The properties of the resource.
          type: object
          example:
            name: myApp
            propOne: true
            propTwo: 42
            writeOnlyProp: secret

    Status:
      readOnly: true
      description: 'Indicates the provisioning status of the resource or long-running operation. There are three terminal status: defined Succeeded, Failed, and Canceled. A null or undefined status property is treated as Succeeded. Any other status is a non-terminal state and is defined by each extension (e.g., Running).'
      oneOf:
        - type: string
        - type: string
          enum:
            - Succeeded
            - Failed
            - Canceled
