name: Build

on:
  push:
    branches:
      - main
    paths:
      - 'src/Azure.Deployments.Extensibility.*/**'
      - 'Azure.Deployments.Extensibility.sln'
  pull_request:
    branches:
      - main

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    env:
      DOTNET_NOLOGO: true # don't print dotnet logo
      DOTNET_CLI_TELEMETRY_OPTOUT: true # disable telemetry (reduces dotnet tool output in logs)
      CI: true

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0 # avoid shallow clone so nbgv can do its work.

      - name: Setup .NET Core
        uses: actions/setup-dotnet@v2

      - name: Build
        run: dotnet build Azure.Deployments.Extensibility.sln --configuration release

      - name: Run unit test
        run: dotnet test src/Azure.Deployments.Extensibility.Providers.Kubernetes.Tests.Unit --configuration Release --collect:"XPlat Code Coverage"

      - name: Start minikube
        uses: medyagh/setup-minikube@latest

      - name: Run integration test
        run: dotnet test src/Azure.Deployments.Extensibility.Providers.Kubernetes.Tests.Integration --configuration Release --collect:"XPlat Code Coverage"
          
      - name: Pack
        run: dotnet pack Azure.Deployments.Extensibility.sln --configuration release
          
      - name: Upload NuGet packages
        uses: actions/upload-artifact@v3
        with:
          name: bicep-extensibility-packages
          path: ./out/*
          if-no-files-found: error
          
      - name: Upload Code Coverage
        uses: codecov/codecov-action@v3
        with:
          # TODO: remove after the repo goes public
          token: ${{ secrets.CODECOV_TOKEN }}
